.section {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 1px;
    margin-top: 10px;
}

.section__header {
    font-size: 20px;
    background-color: white;
    padding: 20px;
    margin: 0px;
    box-shadow: 0 0 3px 1px #e5e5e5;
}