.taskSection__taskList {
    list-style: none;
    padding-left: 10px;
}

.taskSection__listItemText--done {
    text-decoration: line-through;
}

.taskSection__button {
    min-width: 28px;
    min-height: 28px;
}

.taskSection__listItem {
    display: flex;

}